<div data-toggle="buttons">
  <label class="btn" [ngClass]="type=='service'?'btn-success':'btn-default'">
    <input type="radio" [value]="'service'" name="type" [(ngModel)]="type">
    <i class="fa fa-4x fa-cubes"></i>
    REST Сервисы
  </label>
  <label  class="btn" [ngClass]="type=='cron'?'btn-success':'btn-default'">
    <input type="radio" [value]="'cron'" name="type" [(ngModel)]="type">
    <i class="fa fa-4x fa-calendar"></i>
    Крон-задачи
  </label>
</div>
<hr>

<div class="list-group w-75 mt-3 mb-3" >
  <a *ngFor="let project of projects|byType:type" routerLink="/projects/{{project.code}}"
     class="list-group-item list-group-item-action">{{project.name}}</a>
</div>

<button type="button" class="btn btn-secondary" (click)="createForm()"><i class="fa fa-plus"></i> Создать проект</button>
