<div *ngIf="!project"><i class="fa fa-spinner fa-4x fa-spin"></i> Загрузка</div>
<div *ngIf="project">

  <h2 class="p-3">{{project.name}} <span class="pull-right"><button type="button" class="btn btn-sm btn-secondary" (click)="openParams()"><i class="fa fa-cog"></i></button></span> </h2>
  <small>{{project.description}}</small>

  <div class="card mb-2">
    <div class="card-header">Активные экземпляры</div>
    <div class="card-block">

        <span class="card-text text-danger" *ngIf="!project.instances || !project.instances.length">Сервис не запущен</span>

        <table *ngIf="project.instances && project.instances.length" class="table table-striped table-bordered">
          <tr><th>Сервер</th><th>Версия</th><th>PID</th><th>Порт</th><th>Статус</th><th></th></tr>
          <tr *ngFor="let inst of project.instances"><td>{{inst.server}}</td><td class="text-primary">{{inst.version}}</td><td>{{inst.port?inst.port:'-'}}</td><td>{{inst.pid}}</td><td ngClass="{'text-success':inst.port>0, 'text-warning':!inst.port}">{{inst.port?(inst.uptime|timePeriod):'запускается'}}</td>
            <td> <button type="button" class="btn btn-sm btn-danger" *ngIf="hasRight('RUN_SERVICE')"><i class="fa fa-remove"></i> Остановить</button>
              <button type="button" class="btn btn-sm btn-secondary" *ngIf="hasRight('RUN_SERVICE') && inst.port"><i class="fa fa-refresh"></i> Обновить конфигурацию</button></td></tr>
        </table>

    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header">Билды</div>
    <div class="card-block">
      <table class="table table-bordered table-striped">
        <tr><th>Версия</th><th>Дата</th><th>Автор</th><th>Комментарий</th><th></th></tr>
        <tr *ngFor="let build of project.builds"><td>{{build.version}}</td><td>{{build.date|date:'yyyy-MM-dd HH:mm:ss'}}</td><td>{{build.author}}</td><td>
          {{build.message}}
          <ul class="list-unstyled">
            <li *ngFor="let task of build.features"><a target="_blank" [attr.href]="redmineIssuesUrl+task.id">{{task.name}}</a></li>
          </ul>
        </td>
        <td>
          <span *ngIf="hasFlag(build, 'RUNNING')" class="text-info"><i class="fa fa-rocket"></i></span>
          <span *ngIf="hasFlag(build, 'AUTOSTART')" class="text-success"><i class="fa fa-check"></i> Автозапуск</span>

          <div *ngIf="hasRight('RUN_SERVICE')" class="btn-group" ngbDropdown>
            <button class="btn btn-sm btn-success"><i class="fa fa-rocket"></i> Запуск</button>
            <button class="btn btn-sm btn-success dropdown-toggle-split" ngbDropdownToggle></button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button class="dropdown-item" *ngFor="let runner of runners" (click)="run(runner)">запустить на {{runner.ip}}</button>
            </div>
          </div>

          <button *ngIf="hasFlag(build, 'HAS_JAR') && hasRight('RUN_SERVICE')" class="btn btn-sm btn-warning"><i class="fa fa-trash"></i> </button>
          <button *ngIf="hasFlag(build, 'HAS_LOG') && hasRight('VIEW_LOG')" class="btn btn-sm btn-secondary"><i class="fa fa-search"></i> Логи</button>
        </td></tr>
      </table>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">QA Билды</div>
    <div class="card-block">
      <table class="table table-bordered table-striped">
        <tr><th>Код</th><th>Задачи</th><th></th></tr>
        <tr *ngFor="let build of project.qaBuilds">
          <td>{{build.env}}</td>
          <td><ul class="list-unstyled">
            <li *ngFor="let task of build.features"><a target="_blank" [attr.href]="redmineIssuesUrl+task.id">#{{task.id}} {{task.name}}</a></li>
          </ul></td>
          <td>
            <div *ngIf="hasRight('RUN_SERVICE')" class="btn-group" ngbDropdown>
              <button class="btn btn-sm btn-success" (click)="run(build.version)"><i class="fa fa-rocket"></i> Запуск</button>
              <button class="btn btn-sm btn-success dropdown-toggle-split" ngbDropdownToggle></button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item" *ngFor="let runner of runners" (click)="run(build.version, runner.ip)">запустить на {{runner.ip}}</button>
              </div>
            </div>

            <button *ngIf="hasFlag(build, 'HAS_LOG') && hasRight('VIEW_LOG')" class="btn btn-sm btn-secondary"><i class="fa fa-search"></i> Логи</button>
            <span *ngIf="hasFlag(build, 'RUNNING')" class="text-info"><i class="fa fa-rocket"></i></span>
        </tr>
      </table>
    </div>
  </div>
</div>